* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 16px
}

audio {
	display: none;
}

.container {
	max-width: 991px;
	margin: 0 auto;
	padding: 16px;
}

.grid {
	display: grid;
	grid-gap: 4px;
	grid-template: auto / repeat(4, 1fr);
}

.card-inner {
	padding-top: 100%;
	position: relative;
	transition: transform .6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
	transform: rotateY(180deg);
}

.card-inner .front {
	/*
	background: url(../images/mystery.png) no-repeat center;
	background-size: cover;
	*/
	background: #8CC8FF;
}

.card-inner .front span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 600;
	font-size: 24px;
}

.card-inner .back {
	transform: rotateY(180deg);
	border: 1px solid #d6d6d6;
}

.card-inner .front,
.card-inner .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 8px;
	cursor: pointer;
}

.image {
	padding-top: 100%;
	background: lightcoral no-repeat center;
	background-size: cover;
}

@media (min-width: 667px) {
	h1 {
		font-size: 32px;
		margin-bottom: 28px;
	}
	
	.card-inner .front span {
		font-size: 32px;
	}
	
	.grid {
		grid-template: auto / repeat(8, 1fr);
	}
}